:root {
  --font-primary: Oxanium;
  --font-secondary: sans-serif;
  --text-base-size: 1em; //16px
  --bgColor: #1C1C1E;
  --grey1: #272727;
  --grey2: #484848;
  --grey3: #BCBBBB;
  --lightGrey: #ECE9E9;
  --purple2: #6C27A7;
  --purple3: #9937EB;
  --stroke-color-light: #484848;
  --stroke-color-dark: #2A2A2D;

  --text-extra-small: calc(var(--text-base-size)*0.5); //8
  --text-small: calc(var(--text-base-size)*0.875); //14
  --text-medium: calc(var(--text-base-size)*1.25); //20
  --text-large: calc(var(--text-base-size)*1.5); //24
  --text-extra-large: calc(var(--text-base-size)*2.25); //36
  --letter-space-small: 1px;
  --letter-space-medium: 2px;

  --border-radius-big: 15px;
  --border-radius-medium: 11px;
  --border-radius-small: 6px;

  --base-unit: 24px;
  --base-unit2: 40px;
  --input-width-1920: 320px;
  --input-height-1920: 40px;
  --input-width-1024: 200px;
  --input-height-1024: 36px;

  --base-btn-width: 200px;
  --base-btn-height: 48px;
  --small-btn-width: 170px;
  --small-btn-height: 42px;


  //======RESPONSIVE CARDS SIZES=======

  --card-width-1920: 784px;
  --card-height-1920: 395px;
  --card-width-expanded-1920: 1280px;
  --card-height-expanded-1920: 672px;

  --card-width-1280: 510px;
  --card-height-1280: 536px;
  --card-width-expanded-1280: 920px;
  --card-height-expanded-1280: 546px;

  --card-width-1024: 382px;
  --card-height-1024: 464px;
  --card-width-expanded-1024: 604px;
  --card-height-expanded-1024: 740px;

  --card-width-768: 342px;
  --card-height-768: 390px;
  --card-width-expanded-768: 564px;
  --card-height-expanded-768: 657px;

  --card-width-320: 288px;
  --card-height-320: 359px;
  //сделаем чуть шире, чем на макете, чтоб лучше текст помещался и читался
  --card-width-expanded-320: 270px;
  --card-height-expanded-320: 437px;

  //======RESPONSIVE IMAGE SIZES=======

  --image-width-1920: 300px;
  --image-height-1920: 400px;
  --image-width-expanded-1920: 508px;
  --image-height-expanded-1920: 676px;

  --image-width-1280: 300px;
  --image-height-1280: 400px;
  --image-width-expanded-1280: 300px;
  --image-height-expanded-1280: 400px;

  --image-width-1024: 244px;
  --image-height-1024: 328px;
  --image-width-expanded-1024: 220px;
  --image-height-expanded-1024: 280px;

  --image-width-768: 200px;
  --image-height-768: 266px;
  --image-width-expanded-768: 244px;
  --image-height-expanded-768: 300px;

  --image-width-320: 170px;
  --image-height-320: 227px;
  --image-width-expanded-320: 128px;
  --image-height-expanded-320: 172px;

  //======RESPONSIVE LOGO SIZES & COLORS=======

  --logo-width-1920: 162px;
  --logo-height-1920: 80px;

  --logo-width-1280: 136px;
  --logo-height-1280: 56px;

  --logo-width-1024: 120px;
  --logo-height-1024: 40px;

  --logo-width-768: 240px;
  --logo-width-320: 96px;

  --logo-purple: linear-gradient(to top, #6A25A4, #9736E9);

  //=========RESPONSIVE HEADER BUTTONS=====

  --header-btn-width-1920: 184px;
  --header-btn-height-1920: 80px;

  --header-btn-width-1280: 136px;
  --header-btn-height-1280: 56px;

  --header-btn-width-1024: 120px;
  --header-btn-height-1024: 40px;

  --header-btn2-width-1024: 88px;
  --header-btn3-width-768: 152px;



  //======ACTUAL PROPERTIES=================

  --card-width: var(--card-width-1920);
  --card-height: var(--card-height-1920);
  --card-width-expanded: var(--card-width-expanded-1920);
  --card-height-expanded: var(--card-height-expanded-1920);

  --image-width: var(--image-width-1920);
  --image-height: var(--image-height-1920);
  --image-width-expanded: var(--image-width-expanded-1920);
  --image-height-expanded: var(--image-height-expanded-1920);

  --button-width: var(--base-btn-width);
  --button-height: var(--base-btn-height);
  --input-width: var(--input-width-1920);
  --input-height: var(--input-height-1920);

  --logo-top-width: var(--logo-width-1920);
  --logo-top-height: var(--logo-height-1920);
  --logo-bot-width: var(--logo-width-1920);
  --logo-bot-height: var(--logo-height-1920);
  --logo-bg-color: var(--logo-purple);

  --header-btn-width: var(--header-btn-width-1920);
  --header-btn-height: var(--header-btn-height-1920);
  --header-btn2-width: var(--header-btn-width-1024);
  --header-btn3-width: var(--header-btn3-width-768);

  --scaleX-card: calc(var(--card-width-expanded)/var(--card-width));
  --scaleY-card: calc(var(--card-height-expanded)/var(--card-height));
  --scaleX-image: calc(var(--image-width-expanded)/var(--image-width));
  --scaleY-image: calc(var(--image-height-expanded)/var(--image-height));
  --scale-modifier: 1.6;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//todo: почему-то шрифты не работают, разобраться. Пусть пока везде будет такой шрифт
@font-face {
  font-family: 'Oxanium';
  src: local('Oxanium'), url(../assets/fonts/Oxanium-Light.ttf) format('truetype') //300
}
/*@font-face {
  font-family: 'Oxanium';
  src: local('Oxanium'), url(./assets/fonts/Oxanium-Medium.ttf) format('truetype') //500
}*/

/*
@font-face {
  font-family: 'Oxanium';
  src: local('Oxanium'), url(./assets/fonts/Oxanium-SemiBold.ttf) format('truetype') //600
}
@font-face {
  font-family: 'Oxanium';
  src: local('Oxanium'), url(./assets/fonts/Oxanium-Bold.ttf) format('truetype') //700
}
@font-face {
  font-family: 'Oxanium';
  src: local('Oxanium'), url(./assets/fonts/Oxanium-ExtraBold.ttf) format('truetype') //800
}

*/



body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary), var(--font-secondary);
  letter-spacing: var(--letter-space-medium);
  color: var(--lightGrey);
  background-color: var(--bgColor);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button, input {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
  letter-spacing: var(--letter-space-small);
}
button {
  cursor: pointer;
}
input {
  cursor: auto;
}

h1 {
  font-weight: 800;
  font-size: var(--text-extra-large);
}
h2 {
  font-weight: 700;
  font-size: var(--text-large);
  letter-spacing: var(--letter-space-small);
}
h3 {
  font-weight: 600;
  font-size: var(--text-medium);
}
//специальный шрифт, который будет скалироваться по модификатору
h4 {
  font-weight: 500;
  font-size: calc(var(--base-unit) * 0.5);
}
h5, h6 {
  display: inline;
}
h5 {
  font-weight: 500;
  font-size: var(--text-base-size);
}
h6 {
  font-weight: 300;
  font-size: var(--text-base-size);
}
.logo {
  border: 1px solid var(--stroke-color-dark);
  border-radius: var(--border-radius-medium);
  background: var(--logo-bg-color);

  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.logo-header {
  width: var(--logo-top-width);
  height: var(--logo-top-height);
}
.logo-footer {
  width: var(--logo-bot-width);
  height: var(--logo-bot-height);
}
.border {
  border-width: 1px;
  border-style: solid;
  border-color: var(--stroke-color-light);
}
.border-small {
  border-radius: var(--border-radius-small);
}
.border-medium {
  border-radius: var(--border-radius-medium);
}
.border-big {
  border-radius: var(--border-radius-big);
}
.bg-purple-light {
  background-color: var(--purple3);
}
.bg-purple-dark {
  background-color: var(--purple2);
}
.bg-secondary {
  background-color: var(--grey1);
}
.bg-grey-primary {
  background-color: var(--grey2);
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
//вместо цвета --grey2, мелочь, но не форсирует reflow
.opacity {
  opacity: 0.4;
}
.hidden {
  display: none !important;
}

.application {
  max-width: calc(1600px + var(--base-unit));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px calc(var(--base-unit) * 0.5) 42px;
  margin: 0 auto;
}


@keyframes pulse-bg {
  0% {
    background-color: #9f7bc4;
  }
  50% {
    background-color: #7e4cc7;
  }
  100% {
    background-color: #9f7bc4;
  }
}
@keyframes shiftDown {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(var(--base-unit2));
    opacity: 1;
  }
}
@keyframes shiftUp {
  from {
    transform: translateY(var(--base-unit2));
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 0;
  }
}

@media (min-width: 1650px) {
  :root {
    --card-width: var(--card-width-1920);
    --card-height: var(--card-height-1920);
    --card-width-expanded: var(--card-width-expanded-1920);
    --card-height-expanded: var(--card-height-expanded-1920);
    --image-width: var(--image-width-1920);
    --image-height: var(--image-height-1920);
    --image-width-expanded: var(--image-width-expanded-1920);
    --image-height-expanded: var(--image-height-expanded-1920);
    --logo-top-width: var(--logo-width-1920);
    --logo-top-height: var(--logo-height-1920);
    --logo-bot-width: var(--logo-width-1920);
    --logo-bot-height: var(--logo-height-1920);
    --header-btn-width: var(--header-btn-width-1920);
    --header-btn-height: var(--header-btn-height-1920);
    --header-btn2-width: var(--header-btn-width-1024);
  }
  h1 {
    font-size: var(--text-extra-large);
  }
  h2 {
    font-size: var(--text-large);
  }
  h3 {
    font-size: var(--text-medium);
  }
  h4 {
    font-size: calc(var(--base-unit) * 0.5);
  }
  h5 {
    font-size: var(--text-base-size);
  }
  h6 {
    font-size: var(--text-base-size);
  }
  .application {
    padding: 16px calc(var(--base-unit) * 0.5) 42px;
  }

}

@media (max-width: 1649px) {
  :root {
    --card-width: var(--card-width-1280);
    --card-height: var(--card-height-1280);
    --card-width-expanded: var(--card-width-expanded-1280);
    --card-height-expanded: var(--card-height-expanded-1280);
    --image-width: var(--image-width-1280);
    --image-height: var(--image-height-1280);
    --image-width-expanded: var(--image-width-expanded-1280);
    --image-height-expanded: var(--image-height-expanded-1280);
    --logo-top-width: var(--logo-width-1280);
    --logo-top-height: var(--logo-height-1280);
    --logo-bot-width: var(--logo-width-1280);
    --logo-bot-height: var(--logo-height-1280);
    --header-btn-width: var(--header-btn-width-1280);
    --header-btn-height: var(--header-btn-height-1280);
  }
  h3 {
    font-size: var(--text-base-size);
  }
  h4 {
    font-size: calc(var(--base-unit) * 0.4);
  }
  .application {
    height: 100%;
    padding: 16px 120px;
  }
}
@media (max-width: 1280px) {
  :root {
    --input-width: var(--input-width-1024);
    --input-height: var(--input-height-1024);
    --card-width: var(--card-width-1024);
    --card-height: var(--card-height-1024);
    --card-width-expanded: var(--card-width-expanded-1024);
    --card-height-expanded: var(--card-height-expanded-1024);
    --image-width: var(--image-width-1024);
    --image-height: var(--image-height-1024);
    --image-width-expanded: var(--image-width-expanded-1024);
    --image-height-expanded: var(--image-height-expanded-1024);
    --logo-top-width: var(--logo-width-1024);
    --logo-top-height: var(--logo-height-1024);
    --header-btn-width: var(--header-btn-width-1024);
    --header-btn-height: var(--header-btn-height-1024);
    --header-btn2-width: var(--header-btn2-width-1024);
    --header-btn3-width: var(--header-btn3-width-768);
  }
}
@media (max-width: 1024px) {
  :root {
    --card-width: var(--card-width-768);
    --card-height: var(--card-height-768);
    --card-width-expanded: var(--card-width-expanded-1024);
    --card-height-expanded: var(--card-height-expanded-1024);
    --image-width: var(--image-width-768);
    --image-height: var(--image-height-768);
    --image-width-expanded: var(--image-width-expanded-1024);
    --image-height-expanded: var(--image-height-expanded-1024);
    --logo-top-width: var(--logo-width-320);
  }
  h1 {
    font-weight: 700;
    font-size: var(--text-large);
  }

  h5 {
    font-weight: 300;
    font-size: var(--text-small);
  }
  h6 {
    font-size: var(--text-small);
  }
  .application {
    padding: 16px 32px;
  }
}
@media (max-width: 768px) {
  :root {
    --card-width: var(--card-width-320);
    --card-height: var(--card-height-320);
    --card-width-expanded: var(--card-width-expanded-320);
    --card-height-expanded: var(--card-height-expanded-320);
    --image-width: var(--image-width-320);
    --image-height: var(--image-height-320);
    --image-width-expanded: var(--image-width-expanded-320);
    --image-height-expanded: var(--image-height-expanded-320);
    --logo-bot-width: var(--logo-width-768);
    --logo-bot-height: var(--logo-height-1920);
    --button-width: var(--small-btn-width);
    --button-height: var(--small-btn-height);
    --header-btn3-width: var(--header-btn-height-1280);
  }
  h1 {
    font-weight: 600;
    font-size: var(--text-medium);
  }
  h2 {
    font-weight: 500;
    font-size: var(--text-base-size);
  }
  h4 {
    font-size: calc(var(--base-unit) * 0.3);
  }
  h3 {
    font-weight: 500;
  }
  .application {
    padding: 16px;
  }
}




