:root {
  --font-primary: Oxanium;
  --font-secondary: sans-serif;
  --text-base-size: 1em; //16px
  --bgColor: #1C1C1E;
  --grey1: #272727;
  --grey2: #484848;
  --grey3: #BCBBBB;
  --lightGrey: #ECE9E9;
  --purple2: #6C27A7;
  --purple3: #9937EB;
  --stroke-color-light: #484848;
  --stroke-color-dark: #2A2A2D;

  --text-extra-small: calc(var(--text-base-size)*0.5); //8
  --text-small: calc(var(--text-base-size)*0.875); //14
  --text-medium: calc(var(--text-base-size)*1.25); //20
  --text-large: calc(var(--text-base-size)*1.5); //24
  --text-extra-large: calc(var(--text-base-size)*2.25); //36
  --letter-space-small: 1px;
  --letter-space-medium: 2px;

  --border-radius-big: 15px;
  --border-radius-medium: 11px;
  --border-radius-small: 6px;

  --base-unit: 24px;
  --base-unit2: 40px;
  --input-width: 320px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//todo: почему-то шрифты не все работают, разобраться
@font-face {
  font-family: 'Oxanium';
  src:
     local('Oxanium'), url(./assets/fonts/Oxanium-Medium.ttf) format('truetype'), //500
     url(./assets/fonts/Oxanium-Light.ttf) format('truetype'), //300
     url(./assets/fonts/Oxanium-SemiBold.ttf) format('truetype'), //600
     url(./assets/fonts/Oxanium-Bold.ttf) format('truetype'), //700
     url(./assets/fonts/Oxanium-ExtraBold.ttf) format('truetype') //800
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary), var(--font-secondary);
  letter-spacing: var(--letter-space-medium);
  color: var(--lightGrey);
  background-color: var(--bgColor);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button, input {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
  cursor: pointer;
  letter-spacing: var(--letter-space-small);
}
h1 {
  font-weight: 800;
  font-size: var(--text-extra-large);
}
h2 {
  font-weight: 700;
  font-size: var(--text-large);
  letter-spacing: var(--letter-space-small);
}
h3 {
  font-weight: 600;
  font-size: var(--text-medium);
}
h5, h6 {
  display: inline;
}
h5 {
  font-weight: 500;
  font-size: var(--text-base-size);
}
h6 {
  font-weight: 300;
  font-size: var(--text-base-size);
}
.border {
  border-width: 1px;
  border-style: solid;
  border-color: var(--stroke-color-light);
}
.border-small {
  border-radius: var(--border-radius-small);
}
.border-medium {
  border-radius: var(--border-radius-medium);
}
.border-big {
  border-radius: var(--border-radius-big);
}
.bg-purple-light {
  background-color: var(--purple3);
}
.bg-purple-dark {
  background-color: var(--purple2);
}
.bg-secondary {
  background-color: var(--grey1);
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
//вместо цвета --grey2, мелочь, но не форсирует reflow
.opacity {
  opacity: 0.4;
}


@keyframes pulse-bg {
  0% {
    background-color: #ddd;
  }
  50% {
    background-color: #838186;
  }
  100% {
    background-color: #ddd;
  }
}




